html {
    font-size: 62.5%;
}

body {
    padding: 0;
    box-sizing: border-box;

    @include respond(+1200) {
        padding: 3rem;
    }

}

.container {
    padding: 0;
    background-color: $color-bg;
    max-width: 120rem;
    margin: auto;
}

.fa {
    display: inline-block;
    width: 1rem;
}

.alert {
    background-color: red;
    color: white;
    border-radius: .3rem;
    padding: 0 1rem;
    margin-right: 5rem;
}