html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    box-sizing: border-box;
}

.container {
    padding: 0;
    background-color: $color-bg;
}

.fa {
    display: inline-block;
    width: 1rem;
}
 