$color-light: rgb(255, 255, 255);
$color-dark: #000;

$color-text: #777;
$color-bg: #f7f7f7;

$color-p-1: rgb(42, 91, 196);
$color-p-2: rgb(39, 37, 37);

$gradient-primary: linear-gradient(to right bottom, rgba($color-p-1, 0.8), rgba($color-p-2, 0.8));

$shadow: drop-shadow(5px 5px 5px #222);
