.section-home {
    min-height: 50vh;
    text-align: center;
}

.section-edu {
    position: relative;
}

.section-work {
    text-align: center;
}

.section-skills {
    position: relative;
}

.section-contact {
    text-align: center;
}