.section-home {
    height: 85vh;
    margin-top: -11vh;
    background-color: $color-bg;
    text-align: center;
}

.section-edu {
    height: 95vh;
    margin-top: -15vh;
    position: relative;
}

.section-work {
    height: 105vh;
    margin-top: -20vh;
    background-color: $color-bg;
    text-align: center;
}

.section-skills {
    height: 95vh;
    margin-top: -15vh;
    position: relative;
}

.section-contact {
    height: 95vh;
    margin-top: -20vh;
    background-color: $color-bg;
    text-align: center;
    position: relative;
}