<section class="section-skills">
    <div class="overlay"></div>
    <div class="boxDisplay">
        <div class="boxDisplay__header-box">
            <h2 class="heading_secondary heading_secondary--white">{{ 'skills.title' | translate }}</h2>
        </div>
        <div class="filter">
            <input
                class="filter--input" 
                type="text" 
                id="skillFilter" 
                placeholder="{{ 'skills.filter' | translate }}" 
                [(ngModel)]="skillFilter">
            <label class="filter--label" for="skillFilter">
                <i 
                class="fa fa-search filter__icon" 
                aria-hidden="true"
                ></i>
            </label>
        </div>
        <div class="boxDisplay__content-box--flex">
            <app-skill-item
            *ngFor="let skill of (skillState|async).skills |sortby:'proficiency'  |filter:skillFilter:'tags';
            let i = index"
            [index]="i"
            [skillItem]="skill"
            ></app-skill-item>
            <div class="skill-item addItem addItem__skill-item" *ngIf="editMode|async">
                <div *ngIf="!editOn">
                    <i class="fa fa-plus-circle addBtn"  
                    aria-hidden="true"
                    (click)="editOn = true"></i>
                </div>
                <app-skill-edit *ngIf="editOn" (editEmitter)="setEdit($event)"></app-skill-edit>
            </div>
        </div>
    </div>
</section>



