<footer class="footer">
    <div class="footer__left">
        <img src="" alt="{{ 'footer.alt' | translate }}">
        <p>{{ 'footer.text' | translate }}</p>
    </div>
    <div class="footer__right">
        <p (click)="test()">Access</p>
        <form class="expandable" (ngSubmit)=onSubmit(f) #f="ngForm">
            <label for="username">{{ 'footer.username' | translate }}</label>
            <input type="username"  name="username" id="username" required ngModel>
            <label for="password">{{ 'footer.password' | translate }}</label>
            <input type="password" name="password" id="password" autocomplete="new-password" required ngModel>
            <button type="submit" [disabled]="!f.valid">{{ 'footer.login' | translate }}</button>
            <button type="button" [disabled]="!f.valid" (click)="registerUser(f)">{{ 'footer.reg' | translate }}</button>
        </form>
    </div>
    <select [(ngModel)]="language" (ngModelChange)="onChange($event)">
        <option *ngFor="let lang of langs" [ngValue]="lang">{{lang}}</option>
    </select>
</footer>




