<footer class="footer">
    <div class="footer__left">
        <img src="" alt="my photo">
        <p>Made with my own two hands</p>
    </div>
    <div class="footer__right">
        <p>Access</p>
        <form class="expandable">
            <label for="login">Mail</label>
            <input type="login" name="login" id="login">
            <label for="pass">Password</label>
            <input type="pass" name="pass" id="pass">
            <button>Register</button>
            <button type="submit">Login</button>
        </form>
    </div>
</footer>




