<div class="container">
    <app-header></app-header>
    <app-home></app-home>
    <app-education></app-education>
    <app-work></app-work>
    <app-skills></app-skills>
    <app-contact></app-contact>
    <app-footer (langEmitter)="switchLang($event)"></app-footer>
</div>
<div class="control" *ngIf="(editMode|async).authenticated">
    <i class="fa fa-floppy-o control__save control__btn" aria-hidden="true" (click)="saveData()"></i>
    <i class="fa fa-ban control__discard control__btn" aria-hidden="true" (click)="discard()"></i>
    <div>
        <input class="control__clone-input" type="text" #p>
        <i class="fa fa-clone control__copy control__btn" aria-hidden="true" (click)="copyFromProfile(p)"></i>
    </div>
    <i class="fa fa-sign-out control__logout control__btn" aria-hidden="true" (click)="logout()"></i>
</div>
  