<div class="container">
    <app-header></app-header>
    <app-home></app-home>
    <app-education></app-education>
    <app-work></app-work>
    <app-skills></app-skills>
    <app-contact></app-contact>
    <app-footer [user]="currentUser" (langEmitter)="switchLang($event)"></app-footer>
</div>
<div class="control" *ngIf="(editMode|async).authenticated">
    <i class="fa fa-floppy-o control__save control__btn" aria-hidden="true" (click)="saveData()">
        <span class="tooltiptext">{{ 'control.commit' | translate }}</span>
    </i>
    <i class="fa fa-ban control__discard control__btn" aria-hidden="true" (click)="discard()">
        <span class="tooltiptext">{{ 'control.discard' | translate }}</span>
    </i>
    <div>
        <i class="fa fa-clone control__copy control__btn" aria-hidden="true" (click)="clone(p)">
            <input class="control__clone-input" type="text" #p>
            <span class="tooltiptext">{{ 'control.clone' | translate }}</span>
        </i>
    </div>
    <i class="fa fa-sign-out control__logout control__btn" aria-hidden="true" (click)="logout()">
        <span class="tooltiptext">{{ 'control.logout' | translate }}</span>
    </i>
</div>
  