<div class="container">
    <app-header></app-header>
    <app-home></app-home>
    <app-education></app-education>
    <app-work></app-work>
    <app-skills></app-skills>
    <app-contact></app-contact>
    <app-footer (langEmitter)="switchLang($event)"></app-footer>
</div>
<div class="control" *ngIf="(editMode|async).authenticated">
    <div class="control__btn control__save" (click)="saveData()">S</div>
    <div class="control__btn control__discard" (click)="discard()">D</div>
    <div class="control__btn control__logout" (click)="logout()">L</div>
</div>
  