<section class="section-edu">
  <div class="overlay"></div>
  <div class="boxDisplay">
    <div class="boxDisplay__header-box">
      <h2 class="heading_secondary heading_secondary--white">{{ 'edu.title' | translate }}</h2>
    </div>
    <div class="boxDisplay__content-box--dark">
      <app-edu-item
      *ngFor="let edu of eduState|async |sortby:'endDate':'date'; let i = index"
      [eduItem]="edu"
      [index]="i"></app-edu-item>
      <div class="itemWide itemWide--light addItem__itemWide" *ngIf="editMode|async">
        <div *ngIf="!editOn">
          <i class="fa fa-plus-circle addBtn"  
          aria-hidden="true"
          (click)="editOn = true"></i>
        </div>
        <div *ngIf="editOn">
            <app-edu-edit (editEmitter)="setEdit($event)"></app-edu-edit>
        </div>
      </div>  
    </div>
  </div>
</section>