<section class="section-edu">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
      <source src="../../../video/pencil_down.mp4" type="video/mp4">
      <source src="../../../video/pencil_down.webm" type="video/webm">
      Your browser is not supported!
    </video>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <div class="edu">
        <div class="edu__header">
          <h2 class="heading_secondary">Education</h2>
        </div>
      </div>
      <div class="edu__content-box">
        Here will be the list of schools
      </div>
    </div>
  </div>
</section>