<section class="section-work">
    <div class="boxDisplay">
        <div class="boxDisplay__header-box--onWhite">
            <h2 class="heading_secondary heading_secondary--primary" i18n>Work Experience</h2>
        </div>
        <div class="boxDisplay__content-box--light">
            <app-work-item
            *ngFor="let work of (workState|async).work; let i = index"
            [workItem]="work"
            [index]="i"></app-work-item>
        </div>
        <div class="itemWide itemWide--dark addItem addItem__itemWide" *ngIf="editMode|async">
            <div *ngIf="!editOn">
                <i class="fa fa-plus-circle addBtn"  
                aria-hidden="true"
                (click)="editOn = !editOn"></i>
            </div>
            <app-work-edit *ngIf="editOn" (editEmitter)="setEdit($event)"></app-work-edit>   
        </div>  
    </div>
</section>
