<section class="section-contact">
  <div class="boxDisplay">
    <div class="boxDisplay__header-box--onWhite">
      <h2 class="heading_secondary heading_secondary--primary">{{ 'contact.title' | translate }}</h2>
    </div>
    <div class="boxDisplay__contact-box">
      <p class="boxDisplay__contact-box--text">{{ 'contact.main' | translate }}</p>
      <div class="boxDisplay__contact-section">
        <p *ngIf="msgSent">{{ 'contact.msgSent' | translate }}</p>
        <form class="boxDisplay__form" (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!msgSent">
          <div class="form-group form-group--name">
              <input type="text" id="name" placeholder="{{ 'contact.name' | translate }}" name="name"
              class="input form__name"
              required
              autocomplete="name"
              ngModel>
              <label for="name" class="label">{{ 'contact.name' | translate }}</label>
          </div>
          <div class="form-group form-group--email">
              <input type="email" id="email" placeholder="{{ 'contact.mail' | translate }}" name="email" 
              class="input form__email" 
              required
              autocomplete="email"
              [pattern]="pat"
              ngModel>
              <label for="email" class="label">{{ 'contact.mail' | translate }}</label>
          </div>
          <div class="form-group form-group--query">
              <textarea name="query" id="query" cols="30" rows="10" placeholder="{{ 'contact.query' | translate }}" name="query"  
              class="input form__query" 
              required
              autocomplete="off"
              ngModel></textarea>
              <label for="query"></label>
          </div>
          <button type="submit" 
          class="form__submit"
          [disabled]="!f.valid">{{ 'contact.send' | translate }}</button>
        </form>
        <div class="boxDisplay__side-bar">
          <div class="social" *ngFor="let social of (socialState | async).socials">
            <i [ngClass]="social.icon" aria-hidden="true"></i>
          </div>
          <div class="social addItem addItem__social" *ngIf="editMode|async"></div>
        </div>
      </div>
    </div>
  </div>
</section>
