<section class="section-contact">
  <div class="contact">
    <div class="contact__form-box">
        <form class="contact__form">
          <input type="text" id="name">
          <label for="name">Your name</label>
          <input type="email" id="email">
          <label for="query">Your query</label>
          <textarea name="query" id="query" cols="30" rows="10"></textarea>
          <button type="submit">Contact Me!</button>
          <label for="email">Your email adress</label>
        </form>
    </div>
  </div>
</section>
