<section class="section-contact">
  <div class="boxDisplay">
    <div class="boxDisplay__header-box--onWhite">
      <h2 class="heading_secondary heading_secondary--primary">Contact</h2>
    </div>
    <div class="boxDisplay__contact-box">
      <p class="boxDisplay__contact-box--text">If you are interested you can reach me via the form below or social links</p>
      <div class="boxDisplay__contact-section">
        <form class="boxDisplay__form" (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="form-group form-group--name">
              <input type="text" id="name" placeholder="Name" name="name"
              class="input form__name"
              required
              autocomplete="name"
              ngModel>
              <label for="name" class="label">Name</label>
          </div>
          <div class="form-group form-group--email">
              <input type="email" id="email" placeholder="Email address" name="email" 
              class="input form__email" 
              required
              autocomplete="email"
              [pattern]="pat"
              ngModel>
              <label for="email" class="label">Email</label>
          </div>
          <div class="form-group form-group--query">
              <textarea name="query" id="query" cols="30" rows="10" placeholder="Query" name="query"  
              class="input form__query" 
              required
              autocomplete="off"
              ngModel></textarea>
              <label for="query"></label>
          </div>
          <button type="submit" 
          class="form__submit"
          [disabled]="!f.valid">Send</button>
        </form>
        <div class="boxDisplay__side-bar">
          <div class="social" *ngFor="let social of (socialState | async).socials">
            <i [ngClass]="social.icon" aria-hidden="true"></i>
          </div>
          <div class="social addItem addItem__social" *ngIf="editMode|async"></div>
        </div>
      </div>
    </div>
  </div>
</section>
