.boxDisplay {
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 50;

    &__header-box {
        display: inline-block;
        margin: 4rem 0 2rem 0;

        &--onWhite {
            display: inline-block;
            margin-bottom: 2rem;
        }

        &--skills {
            display: inline-block;
            margin: 4rem 0 0 0;
        }
    }
    &__content-box {
        width: 100%;
        &--dark {
            margin-bottom: 3rem;
        }
        &--light {
            // min-height: 70vh;
        }
        &--flex {
            min-height: 45vh;
            padding: 1rem 0 5rem 0;
            margin-bottom: 5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: hidden;

            @include respond(-704) {
                flex-direction: column;
            }
        }   
    }
    &__contact-box {
        background-image: $gradient-primary;
        color: $color-light;
        border-radius: 3px;
        border: 1px solid $color-dark;
        filter: $shadow;
        margin-bottom: 5rem;

        &--text {
            @include respond(-650) {
                padding: 0 1rem;
            }
        }
    }
    &__contact-section {
        display: grid;
        grid-template-columns: 9fr 1fr;
        grid-gap: 1rem;

        @include respond(-650) {
            grid-template-columns: 100%;
        }
    }
    &__form {
        padding: 2rem;
        display: grid;
        grid-template-columns: 4fr 6fr;
        grid-gap: 3rem;

        @include respond(-704) {
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 1rem;
            padding: .5rem;
        }

        @include respond(-650) {
            grid-gap: 1rem;
        }
    }
    &__side-bar {
        grid-column: 2 / span 1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include respond(-704) {
            padding: 1.5rem;
        }

        @include respond(-650) {
            flex-direction: row;
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            justify-content: center;
            padding-bottom: 1rem;
        }

    }
}

