.filter {
    position: absolute;
    top: 16vh;
    right: 5vw;

    @include respond(-704) {
        display: block;
        position: initial;
    }

    &__icon {
        color: $color-light;
        filter: $shadow;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.4);
        }
        &:active {
            transform: scale(1.2);
            filter: none;
        }
    }

    &--label {}
    &--input {
        background-color: $color-bg;
        border-radius: 50px;
        text-align: center;
        animation: expandToLeft 1.5s ease-out forwards;
        backface-visibility: hidden;
        
        &:focus {
            outline: none;
            border-radius: 50px;
            border: 2px solid $color-p-2;
        }
    }
   
}

.input {
    background-color: $color-bg;
    border-radius: 3px;
}

.label {
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    text-align: left;
}