.itemWide {
    display: inline-grid;
    min-height: 20vh;
    width: 60vw;
    margin-bottom: 3rem;
    border: 1px solid $color-dark;
    border-radius: 3px;
    filter: $shadow;
    grid-template-columns: 2fr 6fr 1fr;

    &--light {
        background-color: rgba($color-bg, .7);
        color: $color-text;
    }
    &--dark {
        background-image: $gradient-primary;
        color: $color-light;
    }
    &__image-box {
        padding-left: 2rem;
        height: 80%;
        align-self: center;
        justify-self: center;
        display: inline-flex;
        grid-row: 1 / 3;     
    }
    &__logo, &__details-btn {
        max-height: 100%;
        max-width: 100%;
        filter: $shadow;
    }
    &__logo {
        align-self: center;
    }
    &__details-btn {
        font-size: 5rem;
        align-self: center;
        animation: buttonAnimationBack 1s forwards;

        &:hover {
            color: $color-p-1;
            transform: scale(1.2);
            transition: all .5s;
            cursor: pointer;
        }
    }
    &__details-btn.expanded {
        padding-top: 1rem;
        font-size: 5rem;
        animation: buttonAnimation 1s forwards;

        &:hover {
            color: red;
            transform: scale(1.2);
            transition: all .5s;
            cursor: pointer;
        }
    }
    
    &__text-box {
        margin-bottom: .5rem;
    }
    &__text {
        &--main {
            margin: 1rem auto;
            font-weight: bold;
            font-size: 2rem;
            transition: all 1.5s;
        }
        &--main.expanded {
            margin: 1rem auto;
            font-weight: bold;
            font-size: 1.5rem;
        }
        &--sub {
            margin: auto 0;
            opacity: 1;
            font-size: 1.6rem;
            transition: all .6s .5s;
        }
        &--sub.expanded {
            opacity: 0;
            font-size: 0rem;
            transition: all .3s;
        }
    }
    &__list-box {
        font-size: 0;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: all .7s;
    }
    &__list-box.expanded {
        font-size: 1.6rem;
        text-align: left;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transition: all 1.5s;
    }
}

.expandable-item {
    display: none
}