.itemWide {
    display: inline-grid;
    min-height: 20vh;
    max-height: 40vh;
    width: 60vw;
    margin-bottom: 3rem;
    border: 1px solid $color-dark;
    border-radius: 3px;
    filter: $shadow;
    grid-template-columns: 2fr 6fr 1fr;
    overflow: hidden;

    &--light {
        background-color: rgba($color-bg, .7);
        color: $color-text;
    }
    &--dark {
        background-image: $gradient-primary;
        color: $color-light;
    }
    &__image-box {
        padding-left: 2rem;
        max-height: 80%;
        max-width: 60%;
        align-self: center;
        justify-self: center;
        display: inline-flex;
        grid-row: 1 / span 2;     
    }
    &__logo, &__details-btn {
        max-height: 100%;
        max-width: 100%;
        filter: $shadow;
    }
    &__logo {
        align-self: center;
    }
    &__details-btn {
        font-size: 5rem;
        align-self: center;
        animation: buttonAnimationBack 1s forwards;

        &:hover {
            color: $color-p-1;
            transform: scale(1.2);
            transition: all .5s;
            cursor: pointer;
        }
    }
    &__details-btn.expanded {
        padding-top: 1rem;
        font-size: 5rem;
        animation: buttonAnimation 1s forwards;

        &:hover {
            color: red;
            transform: scale(1.2);
            transition: all .5s;
            cursor: pointer;
        }
    }
    &__text-box {
        margin-bottom: .5rem;
    }
    &__text {
        &--main {
            margin: 1rem auto;
            font-weight: bold;
            font-size: 2rem;
            transition: all 1.5s;

            &.expanded {
                margin: 1rem auto;
                font-weight: bold;
                font-size: 1.5rem;
            }
            &.expandedHide {
                opacity: 0;
                font-size: 0;
                transition: all .5s;
                margin-bottom: 0;
            }
        }
        &--sub {
            margin: auto 0;
            opacity: 1;
            transition: all .6s .5s;

            &.expanded {
                font-size: 1.2rem;
                font-weight: 600;
                transition: font-size 1.5s;

                &:last-child {
                    margin-bottom: 2rem;
                }
            }
            &.expandedHide {
                opacity: 0;
                font-size: 0rem;
                transition: all .3s;
            }
        }
    }
    &__list-box {
        font-size: 0;
        visibility: hidden;
        text-align: left;
        transform: scale(0);
        transition: all .7s;

        &.expanded {
            font-size: 1.6rem;
            visibility: visible;
            transform: scale(1);
            transition: all 1.5s;
        }
    }
}

.details {
    text-align: left;
    margin-left: 2rem;
    &__summary {
        outline: none;
        display: inline;
        &:hover {
            cursor: pointer;
            color: $color-p-1;
            transform-origin: left;
            transform: scale(1.2);
            transition: all .6s;
            filter: $shadow;
        }
        &:active {
            cursor: pointer;
            color: $color-p-1;
            filter: none;
        }
    }
    &[open] &__summary {
        color: $color-p-1;
        transform-origin: left;
        transform: scale(1.2);
        transition: all .6s;
        filter: $shadow;
    }
    &__text-box {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 1.4rem;
        margin: .5rem;
    }
    &[open] &__text--left {
        animation: sweepTop .5s ease-in-out;
    }
    &[open] &__text--right {
        animation: sweepRight .5s ease-in-out;
    }  
}

.expandable-item {
    visibility: hidden;
    margin-bottom: 1.6rem;
    margin-right: .3rem;
    overflow-x: hidden;
    grid-column: 2 / span 2;


    &.expanded {
        visibility: visible;
        transition: all 1.5s;
        max-height: 20vh;
    }
}