.skill-item {
    height: 40vh;
    width: 15vw;
    background-color: rgba($color-bg, .7);
    border: 1px solid black;
    border-radius: 3px;
    filter: $shadow;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
    position: relative;

    &__logo {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60%;
        width: 80%;
        margin: auto;
        filter: $shadow;
    }
    &__name {
        display: none;
    }
    &__proficiency {
        margin-top: .5vh;
        display: inline-block;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.skill-logo {
    max-width:100%;
    max-height:100%;
    margin: 1vh auto;;
    @include absCenter;
}

.circle-yellow {
    background-image: radial-gradient(lightyellow, orange);
    -webkit-background-clip: text;
    color: transparent;
}

.circle-green {
    background-image: radial-gradient(lightgreen, darkgreen);
    -webkit-background-clip: text;
    color: transparent;
}

