.workItem {
    display: inline-block;
    height: 10%;
    width: 80%;
    background-image: $gradient-primary;
    border-radius: 3px;
    filter: $shadow;
    border: 1px solid $color-dark;
    // backface-visibility: hidden;

    &__image-box {}
    &__logo {
        float: left;
    }
    &__text-box {}
    &__text{
        &--company {}
        &--position {}
        &--dates {}
    }
}