.footer {
    background-color: #333;
    color: $color-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        display: flex;
    }
    &__right {

    }
}

.expandable {
    display: none;
}