.footer {
    background-color: #333;
    color: $color-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;

    & > * {
        display: flex;
    }

    &__img {
        height: 5rem;
    }

    &__left {
        flex-direction: column;

        &--credit {
            display: flex;
            flex-direction: row;
        }

        &--lang {
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
    }
    &__right {
        padding-right: 3rem;
        text-align: right;
        flex-direction: column;

        &--access {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

.clickable {
    cursor: pointer;

    &:hover {
        color: yellowgreen;
        text-decoration: underline;
    }
}

.margin-left {
    margin-left: 1.5rem;
}