.header {
    min-height: 15vh;
    background-image: $gradient-primary,
        url(./assets/img/sky.jpg);
    background-position: center;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    text-align: center;

    &__name {
        display: inline-block;
        margin-bottom: 2rem;
    }
}