.header {
    height: 25vh;
    background-image: $gradient-primary,
        url(~assets/img/sky.jpg);
    background-position: top;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    text-align: center;

    &__name {
        display: inline-block;
    }
}