.home {
    width: 75%;
    height: 100%;
    margin: auto;
    position: relative;

    &__content-box {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 60vh;
        margin-bottom: 15vh;
    }

    &__header-box {
        display: inline-block;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 3rem;
        width: 30%;
        margin: auto;
        margin-top: -2rem;
    }

    &__welcome-text {
        margin-top: 10rem;
        margin-bottom: 2rem;
        animation: fadeIn 2.7s ease-in;
    }
    
    &__my-photo {
        float: right;
        height: 100%;
        -webkit-shape-outside: url(~assets/img/am-smile.png);
        shape-outside: url(~assets/img/am-smile.png);
        -webkit-filter: $shadow;
        filter: $shadow;
        padding-right: 3px;
    }

}