.home {
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;

    @include respond(-462) {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header-box {
        display: inline-block;
        width: 20rem;
        margin-bottom: 4rem;
        position: sticky;
        left: 50%;
        transform: translateX(-50%);

        @include respond(-462) {
            position: relative;
            margin-bottom: 0;
        }
    }

    &__welcome-text {
        // animation: fadeIn 2.7s ease-in;
    }
    
    &__my-photo {
        float: right;
        height: auto;
        width: 20vw;
        -webkit-shape-outside: url(~assets/img/am-smile.png);
        shape-outside: url(~assets/img/am-smile.png);
        -webkit-filter: $shadow;
        filter: $shadow;

        @include respond(-704) {
            height: auto;
            width: 20vw;
        }

        @include respond(-580) {
            height: auto;
            width: 20%;
        }

        @include respond(-462) {
            display: none;
        }
    }

}