.home {
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
    overflow: visible;

    @include respond(-462) {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header-box {
        display: inline-block;
        min-width: 20rem;
        position: sticky;
        left: 50%;
        transform: translateX(-50%);

        @include respond(-462) {
            position: relative;
            margin-bottom: 0;
        }
    }

    &__welcome-text {
        position: relative;
        font-family: sans-serif;
        white-space: pre-wrap;
        text-align: left;
        line-height: 2;
        // font-weight: bold;
        font-style: italic;
        font-size: 1.4rem;
        margin: 0;
    }

    &__textarea {
        width: 60vw;
        height: 40vh;
        margin: auto;
    }
    
    &__my-photo {
        float: right;
        height: auto;
        width: 20vw;
        shape-outside: url('assets/img/am-smile.png');
        filter: $shadow;

        @include respond(-704) {
            height: auto;
            width: 20vw;
        }

        @include respond(-580) {
            height: auto;
            width: 20%;
        }

        @include respond(-462) {
            display: none;
        }
    }

    &__sig {
        height: 8rem;
        width: auto;
        text-align: left;
        position: absolute;
        left: 0;
        bottom: -7rem;
    }

}