<!-- SKILL ITEM -->
<div class="skill-item">
    <div class="skill-item--front" *ngIf="!editOn">
        <div class="skill-item__logo">
            <img class="skill-logo" [src]="skillItem.img" [alt]="skillItem.name">
        </div>
        <div class="skill-item__proficiency" >
            <i [class]='starsArray[0]'></i>
            <i [class]='starsArray[1]'></i>
            <i [class]='starsArray[2]'></i>
            <i [class]='starsArray[3]'></i>
            <i [class]='starsArray[4]'></i>
        </div>
    </div>
    <div class="skill-item--back" *ngIf="!editOn">
        <div class="skill-item__name">{{ skillItem.name }} </div>
        <div class="skill-item__details">{{ skillItem.details }} </div>
    </div>
    <!-- FORM FOR EDIT -->
    <div *ngIf="editOn"class="skill-item addItem addItem__skill-item">
        <app-skill-edit [index]="index" (editEmitter)="setEdit($event)"></app-skill-edit>
    </div>
</div>
<!-- <div *ngIf="(editMode|async).authenticated">
    <div class="editItem__edit" (click)="startEdit()">{{ 'util.edit' | translate }}</div>
    <div class="editItem__delete" (click)="deleteItem()">{{ 'util.delete' | translate }}</div>
</div> -->
<!-- CONTROL PANEL -->
<div class="editItem--skill" *ngIf="(editMode|async).authenticated">
    <i class="fa fa-pencil editItem__btn editItem__edit" 
    (click)="startEdit()" aria-hidden="true"
    *ngIf="!editOn"></i>
    <i class="fa fa-trash editItem__btn editItem__delete" 
    (click)="deleteItem()" aria-hidden="true"
    *ngIf="!editOn"></i>
</div>