<!-- DIV FOR POSITION -->
<div class="helperDiv">
<!-- EDUCATION ITEM -->
<div class="itemWide itemWide--light" [ngsReveal]="{ reset: true}" *ngIf="!editable">
    <div class="itemWide__image-box">
        <img class="itemWide__logo" src='{{ eduItem.logo }}' alt="School Logo">
    </div>
    <div class="itemWide__text-box">
        <p [ngClass]="{'itemWide__text--main': true, 'expandedHide': itemToggle}">{{ eduItem.school }}</p>
        <p [ngClass]="{'itemWide__text--sub': true, 'expanded': itemToggle}">{{ eduItem.faculty }}</p>
        <p [ngClass]="{'itemWide__text--sub': true, 'expanded': itemToggle}" ><span i18n>Specialization:&nbsp;</span>{{ eduItem.specialization}}</p>
    </div>
    <i [ngClass]="{'fa': true, 'fa-plus-circle': true, 'itemWide__details-btn': true, 'expanded': itemToggle}"  
    aria-hidden="true"
    (click)="itemToggle = !itemToggle"></i>
    <div [ngClass]="{'expandable-item': true, 'expanded': itemToggle}" 
        *ngIf="itemToggle"
        [@listIn]>
            <app-edu-item-course
            *ngFor="let course of eduItem.courses"
            [courseItem]="course"></app-edu-item-course>
    </div>
</div>
<!-- FORM FOR EDIT -->
<div class="itemWide itemWide--light" *ngIf="editable">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <input type="text" id="school" placeholder="School name" name="school"
            class="input form__name"
            required
            [ngModel]="eduItem.school">
            <label for="school" class="label" i18n>School name</label>
        </div>
        <div class="form-group">
            <input type="text" id="faculty" placeholder="Faculty" name="faculty"
            class="input form__name"
            required
            [ngModel]="eduItem.faculty">
            <label for="faculty" class="label" i18n>Faculty</label>
        </div>
        <div class="form-group">
            <input type="text" id="specialization" placeholder="Specialization" name="specialization"
            class="input form__name"
            required
            [ngModel]="eduItem.specialization">
            <label for="specialization" class="label" i18n>Specialization</label>
        </div>
        <div class="form-group">
            <input type="text" id="logo" placeholder="logo path" name="logo"
            class="input form__name"
            [ngModel]="eduItem.logo">
            <label for="logo" class="label" i18n>logo path</label>
        </div>
        <div class="form-group">
            <input type="text" id="type" placeholder="type" name="type"
            class="input form__name"
            required
            [ngModel]="eduItem.type">
            <label for="type" class="label" i18n>type</label>
        </div>
        <div class="form-group">
            <input type="date" id="startDate" placeholder="Start Date" name="startDate"
            class="input form__name"
            required
            [ngModel]="eduItem.startDate">
            <label for="startDate" class="label" i18n>Start Date</label>
        </div>
        <div class="form-group">
            <input type="date" id="endDate" placeholder="End Date" name="endDate"
            class="input form__name"
            required
            [ngModel]="eduItem.endDate">
            <label for="endDate" class="label" i18n>End Date</label>
        </div>
        <div class="form-group" ngModelGroup="courses">
            <span i18n>Courses: </span>
            <button type="button" (click)="addCourseField()" i18n>+Course</button>
            <div *ngFor="let course of coursesArray; let i = index">
                <input type="text" id="course{{i}}" placeholder="Course" 
                name="course{{i}}"
                class="input form__name"
                [ngModel]="course.courseName">
                <button type="button" (click)="deleteCourse(i)">X</button>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="!f.valid" i18n>Save</button>
            <button (click)="cancelAddItem()" type="button" i18n>Cancel</button>
        </div>        
    </form>
</div>
<!-- CONTROL PANEL -->
<div class="editItem" *ngIf="(editMode|async).authenticated">
    <div class="editItem__edit" (click)="startEdit()" i18n>Edit</div>
    <div class="editItem__delete" (click)="deleteItem()" i18n>Delete</div>
</div>
</div>

