<!-- DIV FOR POSITION -->
<div class="helperDiv">
<!-- EDUCATION ITEM -->
<div class="itemWide itemWide--light" [ngsReveal]="{ reset: true}" *ngIf="!editOn">
    <div class="itemWide__image-box">
        <img class="itemWide__logo" src='{{ eduItem.logo }}' alt="{{ 'edu.alt' | translate }}">
    </div>
    <div class="itemWide__text-box">
        <p [ngClass]="{'itemWide__text--main': true, 'expandedHide': itemToggle}">
            {{ eduItem.school }}</p>
        <p [ngClass]="{'itemWide__text--sub': true, 'expanded': itemToggle}">
            {{ eduItem.faculty }}</p>
        <p [ngClass]="{'itemWide__text--sub': true, 'expanded': itemToggle}">
            <span>{{ 'edu.spec' | translate }}:&nbsp;</span>{{ eduItem.specialization}}</p>
    </div>
    <i [ngClass]="{'fa': true, 'fa-plus-circle': true, 'itemWide__details-btn': true, 'expanded': itemToggle}"  
    aria-hidden="true"
    (click)="itemToggle = !itemToggle"></i>
    <div [ngClass]="{'expandable-item': true, 'expanded': itemToggle}" 
        *ngIf="itemToggle"
        [@listIn]>
            <app-edu-item-course
            *ngFor="let course of eduItem.courses"
            [courseItem]="course"></app-edu-item-course>
    </div>
</div>
<!-- FORM FOR EDIT -->
<div class="itemWide itemWide--light" *ngIf="editOn">
    <app-edu-edit [index]="index" (editEmitter)="setEdit($event)"></app-edu-edit>
</div>
<!-- CONTROL PANEL -->
<div class="editItem" *ngIf="(editMode|async).authenticated">
    <div class="editItem__edit" (click)="startEdit()">{{ 'util.edit' | translate }}</div>
    <div class="editItem__delete" (click)="deleteItem()">{{ 'util.delete' | translate }}</div>
</div>
</div>

