<!-- EDUCATION ITEM -->
<div class="itemWide itemWide--light" [ngsReveal]="{ reset: true}" *ngIf="!editOn">
    <div class="itemWide__image-box">
        <img class="itemWide__logo" src='{{ eduItem.logo }}' alt="{{ 'edu.alt' | translate }}">
    </div>
    <div class="itemWide__text-box">
        <p [ngClass]="{'itemWide__text--main': true, 'expandedHide': itemToggle}">
            {{ eduItem.school }}</p>
        <p [ngClass]="{'itemWide__text--sub': true, 'expanded': itemToggle}">
            {{ eduItem.faculty }}</p>
        <p [ngClass]="{'itemWide__text--sub': true, 'expanded': itemToggle}">
            <span>{{ 'edu.spec' | translate }}:&nbsp;</span>{{ eduItem.specialization}}</p>
    </div>
    <i [ngClass]="{'fa': true, 'fa-plus-circle': true, 'itemWide__details-btn': true, 'expanded': itemToggle}"  
    aria-hidden="true"
    (click)="itemToggle = !itemToggle"></i>
    <div [ngClass]="{'expandable-item': true, 'expanded': itemToggle}" 
        *ngIf="itemToggle"
        [@listIn]>
            <app-edu-item-course
            *ngFor="let course of eduItem.courses |sortby:'mark'"
            [courseItem]="course"></app-edu-item-course>
    </div>
    <!-- CONTROL PANEL -->
    <div class="editItem editItem--edu" *ngIf="(editMode|async).authenticated">
        <i class="fa fa-pencil editItem__btn editItem__edit" (click)="startEdit()" aria-hidden="true"></i>
        <i class="fa fa-trash editItem__btn editItem__delete" (click)="deleteItem()" aria-hidden="true"></i>
    </div>
</div>
<!-- FORM FOR EDIT -->
<div class="itemWide itemWide--light itemWide--editable" *ngIf="editOn">
    <app-edu-edit [index]="index" (editEmitter)="setEdit($event)"></app-edu-edit>
</div>


