<div>
    <form class="editOn" (ngSubmit)="onSubmit()" [formGroup]="form">
        <div>
            <div class="form-group">
                <input type="text" id="company" placeholder="Company name" formControlName="company"
                class="input form__name"
                required
                >
                <label for="company" class="label" i18n>Company name</label>
            </div>
            <div class="form-group">
                <input type="text" id="position" placeholder="Position" formControlName="position"
                class="input form__name"
                required
                >
                <label for="position" class="label" i18n>Position</label>
            </div>
            <div class="form-group">
                <input type="text" id="cLogo" placeholder="cLogo path" formControlName="cLogo"
                class="input form__name"
                >
                <label for="cLogo" class="label" i18n>Logo path</label>
            </div>
        </div>
        <div>
            <div class="form-group">
                <input type="date" id="startDate" formControlName="startDate"
                required>
                <label for="startDate" class="label" i18n>Start Date</label>
            </div>
            <div class="form-group">
                <input type="date" id="endDate" formControlName="endDate"
                required>
                <label for="endDate" i18n>End Date</label>
            </div>
        </div>
        <div class="form-group" formArrayName="responsibilities">
            <span i18n>Responsibilities: </span>
            <button type="button" (click)="addResp()" i18n>+Res</button>
            <div *ngFor="let res of getControls(); let i = index">
                <input type="text" id="res{{i}}" placeholder="Responsibility" 
                class="input form__name"
                [formControlName]="i">
                <button type="button" (click)="deleteResp(i)">X</button>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="!form.valid" i18n>Save</button>
            <button (click)="onCancel()" type="button" i18n>Cancel</button>
        </div>
    </form>
</div>