<form class="eduEdit" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div>
        <div class="form-group">
                <label for="company" class="label">{{ 'work.company' | translate }}</label>
            <input type="text" id="company" placeholder="{{ 'work.place.company' | translate }}" formControlName="company"
            class="input input--edit"
            required
            >
        </div>
        <div class="form-group">
            <label for="position" class="label">{{ 'work.position' | translate }}</label>
            <input type="text" id="position" placeholder="{{ 'work.place.position' | translate }}" formControlName="position"
            class="input input--edit"
            required
            >
        </div>
        <div class="form-group">
            <label for="cLogo" class="label">{{ 'work.path' | translate }}</label>
            <input type="text" id="cLogo" placeholder="{{ 'work.place.path' | translate }}" formControlName="cLogo"
            class="input input--edit"
            >
        </div>
    </div>
    <div>
        <div class="eduEdit__dates">
            <div class="form-group">
                <label for="startDate" class="label">{{ 'work.sDate' | translate }}</label>
                <input type="date" id="startDate" formControlName="startDate"
                required>
            </div>
            <div class="form-group">
                <label for="endDate">{{ 'work.eDate' | translate }}</label>
                <input type="date" id="endDate" formControlName="endDate"
                required>
            </div>
        </div>
    </div>
    <div class="form-group" formArrayName="responsibilities">
        <span>{{ 'work.resps' | translate }}</span>
        <button type="button" (click)="addResp()">{{ 'work.+resp' | translate }}</button>
        <div *ngFor="let res of getControls(); let i = index">
            <input type="text" id="res{{i}}" placeholder="{{ 'work.place.resp' | translate }}" 
            class="input input--edit input--long"
            [formControlName]="i">
            <i class="fa fa-trash editItem__btn--small editItem__delete" (click)="deleteResp(i)" aria-hidden="true"></i>
        </div>
    </div>
    <div>
        <button type="submit" [disabled]="!form.valid">{{ 'util.save' | translate }}</button>
        <button (click)="onCancel()" type="button">{{ 'util.cancel' | translate }}</button>
    </div>
</form>