<div>
    <form class="editOn" (ngSubmit)="onSubmit()" [formGroup]="form">
        <div>
            <div class="form-group">
                <input type="text" id="company" placeholder="{{ 'work.company' | translate }}" formControlName="company"
                class="input form__name"
                required
                >
                <label for="company" class="label">{{ 'work.company' | translate }}</label>
            </div>
            <div class="form-group">
                <input type="text" id="position" placeholder="{{ 'work.position' | translate }}" formControlName="position"
                class="input form__name"
                required
                >
                <label for="position" class="label">{{ 'work.position' | translate }}</label>
            </div>
            <div class="form-group">
                <input type="text" id="cLogo" placeholder="{{ 'work.path' | translate }}" formControlName="cLogo"
                class="input form__name"
                >
                <label for="cLogo" class="label">{{ 'work.path' | translate }}</label>
            </div>
        </div>
        <div>
            <div class="form-group">
                <input type="date" id="startDate" formControlName="startDate"
                required>
                <label for="startDate" class="label">{{ 'work.sDate' | translate }}</label>
            </div>
            <div class="form-group">
                <input type="date" id="endDate" formControlName="endDate"
                required>
                <label for="endDate">{{ 'work.eDate' | translate }}</label>
            </div>
        </div>
        <div class="form-group" formArrayName="responsibilities">
            <span>{{ 'work.resps' | translate }}</span>
            <button type="button" (click)="addResp()">{{ 'work.+resp' | translate }}</button>
            <div *ngFor="let res of getControls(); let i = index">
                <input type="text" id="res{{i}}" placeholder="{{ 'work.resp' | translate }}" 
                class="input form__name"
                [formControlName]="i">
                <button type="button" (click)="deleteResp(i)">X</button>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="!form.valid">{{ 'util.save' | translate }}</button>
            <button (click)="onCancel()" type="button">{{ 'util.cancel' | translate }}</button>
        </div>
    </form>
</div>